---
import type { Link } from '@/types'

import links from '@/data/links.json'

function getJavaScriptExpYears() {
  return new Date().getFullYear() - 2022
}
---

<section aria-label="introduction">
  <div class="container introduction flow">
    <h2>Felipe Damaceno</h2>

    <p>
      <strong class="highlight">&lt;Senior Frontend Developer/&gt;</strong>
      with {getJavaScriptExpYears}+ years of experience in TypeScript,
      specialized in crafting responsive, user-centric and accessible web
      applications. Strong in <strong class="highlight">design</strong> and
      <strong class="highlight">UX/UI</strong>, I combine technical expertise
      with a <strong class="highlight">passion</strong> for creating the best user-experience.
    </p>

    <p>
      I'm also a nerd who enjoys retro gaming and listening to some old-school
      rock 🤘🏻!
    </p>

    <div>
      <ul role="list">
        {
          links.map((link: Link) => (
            <li>
              <a
                class="link"
                href={link.href}
                rel={link.rel}
                target={link.target}
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  @use 'sass:map';
  @use '@/scss/colors' as *;

  section {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
  }

  .highlight {
    color: map.get($colors, 'accent');
    font-weight: 600;
  }

  .introduction {
    font-size: 1.25rem;
    position: relative;
    rotate: -1deg;

    h2 {
      font-family: 'Shadows Into Light', cursive;
      color: map.get($colors, 'accent');
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.25;
      rotate: -2.25deg;

      @media (min-width: 600px) {
        font-size: 5rem;
      }
    }

    h3 {
      color: map.get($colors, 'gray');
      font-size: 1.1rem;
      margin-top: 0.75rem;
    }

    ul {
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      gap: 1rem;
    }

    li {
      display: flex;
      gap: 1rem;

      &:not(:last-child)::after {
        content: '\/';
      }
    }
  }
</style>
